#logs {
    i {
        .client {
            font-weight: bold;
            color: #ec4b2e;
        }
        .topic {
            font-weight: bold;
            color: #1c2541;
        }
        .rule {
            font-weight: bold;
            color: #3a506b;
        }
    }

    .table__header--small {
        width: 20%;
    }
}
