$modalWidth: 600px;

.modal-container {
  position: fixed;
  min-width: $modalWidth;
  min-height: 280px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  z-index: z("high");

  .modal-wrapper {
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    width: 100%;
    max-width: $modalWidth;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  table {
    width: 100%;
    .table__header {
      padding: 6px 12px;
    }
    .table__cell {
      padding: 6px 12px;
    }
  }
}

.modal {
  &__close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: z("low");
  }

  &__form {
    padding: 42px 42px 28px 42px;

    .btn-control {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      flex-direction: row;
      margin-top: 10px;

      .btn:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}


@media only screen and (max-width: 600px){
  .modal-container {
    min-width: 0;
    width: 100%;

    [class^="kn-multi_select__wrapper_"] {
      flex-direction: column;

      [class^="kn-column__column_"] {
        overflow: scroll;
      }
    }
  }
}