.table__block {
  .table__triggers {
    margin-bottom: 10px;
  }
  .trigger__edit {
    margin-bottom: 15px;
  }
  .button__new {
    margin-bottom: 15px;
  }
  .help {
    display: inline-block;
    margin-bottom: 10px;
    font-style: italic;
  }
  .cron {
    .input {
      width: 14.2%;
      float: left;
    }
  }
}
