$white: #fff;
$black: #000;
$bg: rgb(241, 242, 244);

$grey-ghost-dark: rgb(49, 49, 49);
$grey-ghost: rgba(189, 190, 192, 1);
$red-cinnabar: rgba(236, 75, 46, 1);
$blue-yankees: rgba(28, 37, 65, 1);
$blue-independence: rgba(58, 80, 107, 1);
$green-sea-serpent: rgba(91, 192, 190, 1);